%buttonStyles {
    background: transparent;
    border: 0;
    font-size: 24px;
    outline: none;
    width: 38px;
    height: 38px;
    

    svg {
        color: rgb(59, 56, 56);
    }
    
    &:focus {
        outline: none;
    }
}

.DeleteButton {
    @extend %buttonStyles;
}

.EditPhotoButton {
    @extend %buttonStyles;
}

.FavoriteButton {
    @extend %buttonStyles;

    &.isFavorite svg {
        color: rgb(231, 64, 120);
    }
}

.RatingButton {

    button {
        @extend %buttonStyles;

        &.active svg {
            color: rgb(238, 205, 20);
        }
    }
}