#modalBody {
    padding: 10px;
}

#divMain {
    width: 100%;
}

#loginForm {
    display: flex;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    font-size: 28px;
}

.loginForm .divMain .img  {
position: absolute;
width: 280px;

}

#loginButton:hover {
    background-color: maroon;
}

/*  tablet */
/* @media screen and (min-width: 360px) {
    #loginForm {
      max-width: 330px;
    }
  }
  @media screen and (min-width: 768px) {
    #loginForm {
      max-width: 500px;
    }
  @media screen and (min-width: 1200px) {
    #loginForm {
      max-width: 500px;
    }
  } */