.navbar {
  font-family: $font-family-copy;
  font-size: 17px;
  letter-spacing: 0.05em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  justify-content: space-between;

  &.is-expanded,
  &.has-scrolled {
    background-color: #faf8f8;
    box-shadow: 0px -8px 18px 8px rgba(0,0,0,0.25);
  }

  .btn {
    border-radius: 64px;
    margin: 4px 0;

    @media screen and (min-width: $tablet) {
      margin: 0 0 0 4px;
    }
  }

  &-nav {
    width: 100%;
  }

  &-actions {

    @media screen and (min-width: $tablet) {
      margin-left: auto;
    }
  }
}
