.PhotoGridItem {

  &__photo {
    --grid-item-height: 260px;
    height: var(--grid-item-height);
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  h4 {
      font-family: $font-family-title;
      font-size: 48px;
      line-height: 100%;
      padding: 0;
      margin: 0;
  }
}


.username {
    font-family: $font-family-copy;
}

.photo-description {
 font-family: $font-family-copy;
 font-style: italic;
}

