$theme-colors: (
  "primary": #006f57,
  // "danger": black,
);

$font-family-title: 'Tangerine', cursive, serif; 
$font-family-copy: 'Ubuntu' sans-serif;

// breakpoint
$mobile: 680px;
$tablet: 768px;
$desktop: 1100px;

// bootstrap styling
@import 'bootstrap/scss/bootstrap'; 

// global styles and components
@import './styles/Global';
@import './styles/Form';
@import './styles/Modal';
@import './styles/Navbar';
@import './styles/Pagination';
@import './styles/Grid';
@import './styles/Buttons.scss';

// components
@import './styles/PhotoGrid';
@import './styles/PhotoGridItem';

// pages
@import './styles/App';
@import './styles/LoginPage';
@import './styles/MyPortfolio';

.react-toast-notifications__container {
  z-index: 5000 !important;
}